*{
    margin: 0px;
    padding: auto;
}

#head{
    background-color: #D79922;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 20%;
    
}
#logo{
    font-size: 30px;
    float: left;
    width: 55px;
    height: 75px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 2px 3px powderblue;
    border-radius: 10px;
    background-color:#D79922;
    margin-top: 15px;
    margin-left: 25px;
    border: 2px solid black;
    animation-name:logo;
    animation-duration:4s;
    animation-iteration-count: infinite;
}


@keyframes logo{
     
    0% {
        -webkit-transform: rotateZ(0deg); /* Safari */
        transform: rotateZ(0deg);
    }
    50%{
        -webkit-transform: rotateZ(180deg); /* Safari */
        transform: rotateZ(180deg);
    }
    100%{
        -webkit-transform: rotateZ(360deg); /* Safari */
        transform: rotateZ(360deg);
    }
}


span{
    color: #F13C20;
}
a{
    text-decoration: none;
    position: relative;
    float: right;
    height: 30px;
    width: 80px;
    color: #EFE2BA;
    margin-top: 70px;
}
a:hover{
    background-color: #e7ebea;
}
#search{
    width: 150px;
}
#sec{
    width: 100%;
    position: relative;
    height: 80%;
    background-color: #e7ebea;
}
#image{
    background-repeat: no-repeat;
    /* width: 50%; */
    height: 100%;
    position: relative;
    float: left;
    background-image: url(pics/crop3.jpg);
    background-size: cover;

}
#profile{
    /* width: 50%; */
    height: 100%;
    position: relative;
    padding-top: 20px;
    float: left;
    font-size: 20px;
    animation-name:profile;
    animation-duration:4s;
    animation-iteration-count: infinite;
}
@keyframes profile {
    0% {background-color: rgb(170, 101, 153); }
     25%{background-color: rgb(84, 84, 72);}
     50%{background-color: rgb(89, 130, 143);}
     75%{background-color: rgb(88, 121, 88);}
     100%{background-color:rgb(86, 85, 141);}
 
 }

#about{
    text-align: center;
    padding: 5px;
    padding-left: 15px;

}
button{
    background-color: aqua;
    font-size: 20px;
    border-radius: 4px; 
}
 
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}


#skills{
    font-size: 20px;
    text-align: center;
    height: 100%;
    padding-top: 20px;
    float: left;
    color: rosybrown;
    background-color:#4056A1;
    animation-name: example;
    animation-duration:4s;
    animation-iteration-count: infinite;

}
@keyframes example {
   0% {background-color: rgb(150, 99, 99);  ;}
    50%{background-color: rgb(216, 193, 136);}
    100%{background-color: rgb(88, 131, 88);}

}
article{
    font-size: 20px;
    text-align: center;
    height: 100%;
    float: left;
    padding-top: 20px;
    color: rosybrown;
    background-color:#F13C20 ;
    animation-name: art;
    animation-duration:4s;
    animation-iteration-count: infinite;
}
@keyframes art {
    0% {background-color:brown;  ;}
     50%{background-color: rgb(172, 105, 28);}
     100%{background-color: rgb(128, 128, 153);}
 
 }
nav{
    font-size: 20px;
    background-color:#C5CBE3;
    text-align: center;
    padding-top: 20px;
    animation-name: nav;
    animation-duration:4s;
    animation-iteration-count: infinite;
    height: 100%;
    width: 100%
}
@keyframes nav {
     0%{background-color:rgb(42, 165, 138); }
     50%{background-color: rgb(124, 104, 81);}
     100%{background-color:greenyellow;}
 
 }
footer{
    width: 100%;
    height: 10%;
    background-color: black;
    color: bisque;
}

.box{
    width: 50%
}

@media only screen and (max-width: 700px) {
    .box{
        width: 100%
    }
 }